:root {
    --backgound-green: #0D3E06;
    --backgound-purple: #2D063E;
}

body {
    background-color: var(--backgound-purple);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "Header"
        "Main"
}

.footer{
    color: #fff;
    text-align: center;
    align-content: center;
    font-size: 115%;
    align-self: end;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 7vh;
    background-color: #0D3E06;
}

header, nav, main, footer {
    padding: 2.5vh;
    box-sizing: border-box;
}

h2{
    font-size: 120%;
}

header {
    grid-area: Header;
    background-color: var(--backgound-green);
    color: #fff;
    text-align: center;
}

li {
    display: inline;
    margin: 0 5vw;
    justify-content: center;
}


.pageHolder{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "skills werkhouding";
}

button {
    background-color: var(--backgound-purple);
    color: #fff;
    border: none;
    text-align: center;
    font-size: 100%;
    border-radius: 5px;
    cursor: pointer;
    width: 10vw;
    height: 7vh;
}

button:hover {
    background-color: #520972;
    transform: scale(1.1);
}

main {
    grid-area: Main;
    padding-top: 5px;
    color: #fff;
    text-align: center;
}

.resultatenSkills {
    grid-area: skills;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pageHolder img {
    width: 7%;
    padding: 2%;
}
.pageHolder img:hover {
    transform: scale(1.2);
}

.resultatenWerkhouding{
    grid-area: werkhouding;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grades{
    display: inline;
    justify-content: center;
}

.grades img{
    width: 11vw;
    margin: 0 4vw;
}

.grades img:hover {
    transform: scale(1.1);
}

.IresultatenSkills img{
    width: 50%;
}
.IresultatenWerkhouding img{
    width: 50%;
}

.PeriodeOne{
    display: grid;
    text-align: justify;
    margin-left: 5vw;
    margin-top: 3vh;
    font-size: 110%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "blok1 blok2";

}

.blok1{
    grid-area: blok1;
    margin-left: 3vw;
}

.blok2{
    grid-area: blok2;
    margin-left: 2vw;
    margin-right: 1vw;
}

h3{
    font: bolder;
    font-size: 120%;
}